/* С П Р А Й Т */
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-googleplay {
    width: 90px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-appstore {
    width: 90px;
    height: 32px;
    background-position: -5px -47px;
}

.sprite-fb {
    width: 39px;
    height: 39px;
    background-position: -105px -5px;
}

.sprite-tw {
    width: 39px;
    height: 39px;
    background-position: -105px -54px;
}

.sprite-vk {
    width: 39px;
    height: 39px;
    background-position: -5px -103px;
}
