$footer-height: 240px;
$main-font-color: #5c7b98;
$box-bg: #f4f6f9;

$font_elr: 'elektra_light_proregular';
$font_emi: 'elektra_medium_proitalic';
$font_emr: 'elektra_medium_proregular';
$font_elb: 'elektra_light_probold';
$main-font-color: #5c7b98;
$form-border: 1px solid #dae1eb;