/* .address {
	display: block;
	position: relative;
	height: 105px;
	background-color: #f4f6f9;
	padding-top: 20px;
	padding-left: 44px;
	font-size: 14px;
	
}

.address-text {
	padding-bottom: 22px;
} */
.sidebar__address {
  font-family: "elektra_light_proregular";
  font-size: 14px;
  font-style: normal;
  margin-bottom: 20px;
  padding: 15px 0 5px 0;
  background-color: #f4f6f9;
  color: #5c7b98; }
  .sidebar__address-header {
    font-size: 14px;
    font-weight: normal;
    width: 165px;
    margin: 0 0 15px 0;
    padding: 0 5px 0 40px;
    background: transparent url("../img/point.png") no-repeat 20px 0; }
  .sidebar__address-ul {
    margin: 0 0 15px 35px;
    list-style: none; }
    .sidebar__address-ul a {
      font-size: 14px;
      line-height: 22px;
      display: block;
      height: 22px;
      padding: 0 5px 0 20px;
      vertical-align: middle;
      text-decoration: none;
      color: #5c7b98;
      background: transparent url("../img/tel.png") no-repeat 0 50%; }
