ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.hidden-text {
  position: absolute;
  left: -9999px; }

.right {
  float: right; }

.left {
  float: left; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearboth {
  clear: both; }

.inline-block {
  display: inline-block;
  position: relative; }

/* 
.column-1 {
    display: block;
width: 20%;
background: red;
float: left;
min-height: 100%;
}

.column-2 {
    display: block;
    background: green;
    width: 20%;
    min-height: 100%;
    float: left;
}
.column-3 {
    display: inline-block;
width: 20%;
min-height: 100%;
float: left;
background: blue;
}


.columns {
    display: table-row;
}
.col1-4 {
    display: block;
    float: left;
    width: 20%;
    max-width: 20%;
}

.col2-4 {
    display: block;
    float: left;
    width: 40%;
    min-width: 20%;
} */
.footer {
  position: relative;
  z-index: 5;
  color: #fff;
  background: #613993 url("../img/background.png") 0 0 repeat;
  /* padding-top: 15px; */
  /* background-color: red; */
  /*     &stores {
        position: relative;
        display: inline-block;
    }
    &__socials {
        position: relative;

        padding-right: 5px;

        &-buttons {
            font-size: 0;
            width: 217px;
            padding: 15px 0 0 0;
            list-style: none;

        }
        &-button {
            display: inline-block;
            margin-left: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        .as {
            margin-right: 5px;
            margin-bottom: 27px;
        }
        .gp {
            margin-right: 0;
            margin-bottom: 27px;
        }
    } */ }
  .footer__wrapper {
    position: relative;
    min-width: 975px;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px blue solid; */
    height: 240px;
    /* background: #613993 url('../img/background.png') 0 0 repeat; */ }
    .footer__wrapper > * {
      display: inline-block;
      vertical-align: top; }
  .footer__logo-img {
    display: block;
    position: absolute;
    width: 140px;
    position: relative;
    padding-top: 106px;
    /*   img {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          } */
    /* @include center__img; */
    /* margin: 0;
        padding: 100px 0;
        
        &-img {
            max-width: 100%;
        }
        &-alt {
            font-size: 0;
            text-indent: -9999px;
        } */ }
  .footer__links {
    position: relative; }
    .footer__links-wrapper {
      position: relative;
      float: right;
      width: 740px;
      padding: 65px 0 5px 0;
      /* border: 1px yellow solid; */ }
    .footer__links-ul {
      font-size: 15px;
      display: inline-block;
      /* margin: 0 70px 0 0; */
      padding: 0;
      width: 157px;
      list-style: none;
      padding-right: 0px;
      /* border: 1px green solid; */ }
    .footer__links-buttons_row {
      margin-bottom: 24px; }
    .footer__links-socials-button {
      margin-right: 9px; }
    .footer__links-btns {
      display: inline-block;
      vertical-align: top;
      padding: 0;
      padding-top: 12px;
      padding-left: 68px;
      width: 185px;
      list-style: none;
      /* border: 1px green solid; */ }
    .footer__links-header {
      max-width: 100px;
      font-family: "elektra_light_probold";
      font-size: 15px;
      font-weight: normal;
      margin: 0 0 8px 0; }
    .footer__links-link {
      margin-bottom: 8px; }
      .footer__links-link a {
        font-size: 14px;
        color: #fff; }
        .footer__links-link a:hover {
          text-decoration: none; }
