.miniPics {
  margin-right: -11px;
  margin-bottom: 30px; }

.miniPics__item {
  display: inline-block;
  margin: 0 5px 10px 0;
  width: 70px;
  height: 70px; }

.miniPics-list {
  list-style: none;
  padding: 0; }

.miniPics__item-Pic {
  max-width: 100%; }
