.slider__wrap {
  position: absolute;
  top: 0; }

.slider {
  display: block;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 36px; }

.slider__item-title {
  font-size: 14px;
  font-family: elektra_light_proregular;
  color: #ffffff;
  display: block;
  line-height: 0.9;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 81px;
  /* min-height: 45px; */
  margin: 0;
  /* padding-top: 19px; */
  padding-left: 19px;
  background-color: rgba(0, 0, 0, 0.5); }
  .slider__item-title .slider__item-link {
    font-size: 18px;
    color: #0caceb;
    display: block;
    padding-bottom: 9px;
    padding-top: 21px; }

/* .slider__button {
        line-height: 34px;
        position: absolute;
        z-index: 3;
        top: 103px;
        width: 62px;
        height: 34px;
        text-align: center;
        vertical-align: middle;
        background-color: #f7f7f7; 
        &:before {
            position: absolute;
            z-index: -1;
            left: -4px;
            width: 30px;
            height: 10px;
            height: 17px;
            content: '';
            transform: skew(-20deg);
            background-color: #f7f7f7;
        }
        &:after {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: -4px;
            width: 30px;
            height: 10px;
            height: 17px;
            content: '';
            transform: skew(20deg);
            background-color: #f7f7f7;
        }
        &-left {
            left: 15px;
        }
        &-right {
            right: 15px;
            &:before {
                left: 36px;
                transform: skew(20deg);
            }
            &:after {
                left: 36px;
                transform: skew(-20deg);
            }
        }
        &:hover,
        &:hover:before,
        &:hover:after {
            cursor: pointer;
            color: #fff;
            border-color: #00b9fe;
            background-color: #00b9fe;
        }
    }
 */
.slider__button {
  z-index: 3;
  position: absolute;
  line-height: 34px;
  top: 103px;
  width: 69px;
  background-repeat: no-repeat;
  /* height: 34px;
    text-align: center;
    vertical-align: middle;
    background-color: #f7f7f7; 
    &:before {
        position: absolute;
        z-index: -1;
        left: -4px;
        width: 30px;
        height: 10px;
        height: 17px;
        content: '';
        transform: skew(-20deg);
        background-color: #f7f7f7;
    }
    &:after {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -4px;
        width: 30px;
        height: 10px;
        height: 17px;
        content: '';
        transform: skew(20deg);
        background-color: #f7f7f7;
    }
    &-left {
        left: 15px;
    }
    &-right {
        right: 15px;
        &:before {
            left: 36px;
            transform: skew(20deg);
        }
        &:after {
            left: 36px;
            transform: skew(-20deg);
        }
    }
    &:hover,
    &:hover:before,
    &:hover:after {
        cursor: pointer;
        color: #fff;
        border-color: #00b9fe;
        background-color: #00b9fe;
    } */ }
  .slider__button.slider__button-left {
    left: 10px;
    background-image: url(../img/arr-left-inactive.png); }
    .slider__button.slider__button-left:hover {
      background-image: url(../img/arr-left-active.png); }
  .slider__button.slider__button-right {
    right: 12px;
    background-image: url(../img/arr-right-inactive.png); }
    .slider__button.slider__button-right:hover {
      background-image: url(../img/arr-right-active.png); }

.slider__button-link {
  font-size: 17px;
  font-family: elektra_light_probold;
  line-height: 34px;
  color: #5c7b98;
  text-decoration: none; }
  .slider__button-link.slider__button-link-left {
    padding-left: 13px; }
  .slider__button-link.slider__button-link-right {
    padding-left: 10px; }
  .slider__button-link:hover {
    color: #ffffff; }
