form.form.callMeForm#callMe(role="form")
	//- Имя
	.form-group
		label.label(for="callMeName") Ваше имя
		input.input#callMeName(type="text", name="callMeName", placeholder="Введите Ваше имя", qtip-content="Укажите имя")
	//- Пароль
	.form-group
		label.label(for="callMePhone") Телефон
		input.input#callMePhone(type="text", name="callMePhone", placeholder="Введите телефон", qtip-content="Укажите номер телефон")
	//- Дата звонка
	.form-group
		label.label(for="callMeDay") Дата звонка
		
		- var day = 0
		select(size='1', qtip-position='left').select
			while day < 31
				option(value=day++) #{day}
		- var month = 0
		select(size='1', qtip-position='right').select
			while month < 12
				option(value=month++) #{month}
	.form-group
		textarea.textarea#callMeComments(name="callMeComments", rows='4')
	.form-group
		button.btn.btn-main(type="submit") Отправить
		button.btn.btn-main(type="reset") Очистить

