.miniPics
	ul.miniPics-list
		- var picNo = 0
			while picNo < 9
				- picNo++
				li.miniPics__item
					a.miniPics__item-link(href="#")
						img.miniPics__item-Pic(src='img/mini-pics/mini-pic-' + picNo + '.jpg', alt='cool mini pic #' + picNo)
						span.hidden-text cool mini pic ##{picNo}
	
