.miniPics
	- var picNo = 0
		while picNo < 9
			- picNo++
			a.miniPics__item
				img.miniPics__item-Pic(src='img/mini-pics/mini-pic-' + picNo + '.jpg', alt='cool mini pic #' + picNo)
				span.miniPics__item-text cool mini pic ##{picNo}
	
