li.product
    div.product__main-info
        div.product__main-info-wrapper
            div.product__img-wrapper
                img.product__img(src="img/products/product1.jpg" alt="Apple Thunderb Display 27")
            div.product__description
                a.product__description-link(href="#") Apple Thunderb Display 27"
        table.product__table     
            tr.product__table-row
                td.product__table-cell Артикул
                td.product__table-cell 42787825 
            tr.product__table-row
                td.product__table-cell Опция
                td.product__table-cell включена
            tr.product__table-row
                td.product__table-cell Цвет
                td.product__table-cell серебристый
            tr.product__table-row
                td.product__table-cell Размер
                td.product__table-cell 1280*1245*90
            tr.product__table-row
                td.product__table-cell Вес
                td.product__table-cell 9 кг