aside.sidebar.left
	a.header-logo-link(href="#")
		img.logo-img(src="img/logo.png", alt="logo")
		span.hidden-text ЭпплShop

	include ../common/callMeForm.jade
	include ../common/miniPics.jade
	include ../common/contacts.jade


