div.slider
    div.slider__wrap
        ul.slider__list.clearfix
            li.slider__item.active
                img.slider__img(src="img/slider/slide-2.jpg", alt="slide-2")
                div.slider__item-title
                    a.slider__item-link(href="#") Конкурс на концепт IPhone 7
                    span.slider__item-text Выйграй iPad Air за самый необычный  и интереный дизайн нового iPhone 7.
            //- li.slider__item
            //-     img.slider__img(src="img/slider/slide-2.jpg", alt="slide-2")
            //-     div.slider__item-title
            //-         a.slider__item-link(href="#") До 31 декабря, iPhone 4 за 9900 руб.
            //-         p.slider__item-text Нет денег на шестой iPhone? Купи себе четвертый!
            //- li.slider__item
            //-     img.slider__img(src="img/slider/slide-3.jpg", alt="slide-3")
            //-     div.slider__item-title
            //-         a.slider__item-link(href="#") iMac за пол цены
            //-         p.slider__item-text Принеси свой старый Mac  и получи скидку на новый!
        div.slider__button.slider__button-left
            a.slider__button-link.slider__button-link-left(href="#") Пред.
        div.slider__button.slider__button-right
            a.slider__button-link.slider__button-link-right(href="#") След.
        